[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "NODE_ENV=production PORT=3000 node .next/standalone/server.js"

[variables]
NODE_ENV = "production"
PORT = "3000"
