@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@custom-variant dark (&:is(.dark *));

@custom-variant hover (&:hover);

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #e93458;
  --color-purple-dark: #2a1c42;
  --color-purple-darker: #1f1531;
  --color-light: #d4d2d9;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #2a1c42;
  --foreground: #ffffff;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #e93458;
  --color-purple-dark: #2a1c42;
  --color-purple-darker: #1f1531;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #e93458;
  --purple-dark: #2a1c42;
  --purple-darker: #1f1531;
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-[14px]  text-foreground;
    margin-top: 60p;
  }
}

.olcards {
  list-style: none;
  counter-reset: cardCount;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  --cardsGap: 1rem;
  gap: var(--cardsGap);
  padding-bottom: var(--cardsGap);
}
.olcards li {
  counter-increment: cardCount;
  display: flex;
  color: white;
  --labelOffset: 1rem;
  --arrowClipSize: 1.5rem;
  margin-top: var(--labelOffset);
}

.olcards li::before {
  content: counter(cardCount, decimal-leading-zero);
  background: white;
  color: var(--cardColor);
  font-size: 2em;
  font-weight: 700;
  transform: translateY(calc(-1 * var(--labelOffset)));
  margin-right: calc(-1 * var(--labelOffset));
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.5em;
}
.h1Ryan {
  font-size: clamp(9px, 5vw, 48px);
}
.olcards li .content {
  background-color: var(--cardColor);
  --inlinePadding: 1em;
  --boxPadding: 0.5em;
  display: grid;
  padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
    var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
  grid-template-areas:
    "icon title"
    "icon text";
  gap: 0.25em 1em;
  clip-path: polygon(
    0 0,
    calc(100% - var(--arrowClipSize)) 0,
    100% 50%,
    calc(100% - var(--arrowClipSize)) 100%,
    calc(100% - var(--arrowClipSize)) calc(100% + var(--cardsGap)),
    0 calc(100% + var(--cardsGap))
  );
  position: relative;
}
.olcards li .content::before {
  content: "";
  position: absolute;
  width: var(--labelOffset);
  height: var(--labelOffset);
  background: var(--cardColor);
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  filter: brightness(0.75);
}
.olcards li .content::after {
  content: "";
  position: absolute;
  height: var(--cardsGap);
  width: var(--cardsGap);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent 50%);
  left: 0;
  top: 100%;
}
.olcards li .icon {
  grid-area: icon;
  align-self: center;
  font-size: 2em;
}
.olcards li .content .title {
  grid-area: title;
  font-size: 1.25em;
  /* font-weight: 700; */
}
.olcards li .content .text {
  grid-area: text;
}
.image-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (height / width * 100) */
}
::selection {
  background-color: theme(
    "colors.yellow.300"
  ); /* Example: using a Tailwind color from your theme */
  color: theme(
    "colors.gray.900"
  ); /* Example: changing text color on selection */
}
h1 {
  font-size: 1.5rem; /* Default for smaller screens */
}

@media (min-width: 768px) {
  /* For screens 768px and wider */
  h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  /* For screens 1024px and wider */
  h1 {
    font-size: 4rem;
  }
}
.vertSpace {
  margin-top: 13px;
  margin-bottom: 13px;
  shadow: red, 2px, 3px;
}
.bagshaw {
  background: #ccccb2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #757519,
    #ccccb2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #757519,
    #ccccb2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.image-container {
  float: left; /* or float: right; */
  margin-right: 1em; /* Add space between image and text */
  margin-bottom: 1em; /* Add space below image */
  /* Set a max-width for responsiveness if needed */
  max-width: 300px;
}
.ryanPaper {
  background-image: url("/handmadepaper.jpg");
  background-repeat: repeat;
}
.foil {
  background-image: url("/foil.jpg");
  background-repeat: repeat;
}
.tables {
  background-image: radial-gradient(
    circle 363px at 49.1% 0.8%,
    rgba(54, 96, 172, 1) 0%,
    rgba(46, 53, 89, 1) 100.2%
  );
  color: white;
}
.blues {
  background-image: linear-gradient(288deg, rgba(4, 56, 115, 1) 91.6%);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-inline: 4px;
  padding-inline: 12px;
  box-shadow: inset 1px 2px 14px rgb(235, 234, 234);
}
.topographyCard {
  background-image: url("/topographyCard.jpg");
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-inline: 4px;
  padding-inline: 12px;
  box-shadow: inset 1px 2px 14px rgb(235, 234, 234);
}
.grillCard {
  background-image: url("/4k-seamless-silver-perforated-stainless-steel-metal-texture_499.webp");
  background-size: 94px;
  background-repeat: repeat;
  opacity: 0.4;
}

.harvardSucks {
  background: linear-gradient(rgba(37, 124, 17, 0.665), rgba(74, 104, 123, 0.9)),
    url(/harvardSucks.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.content_bg {
  background-image: url("../public/micro_carbon.jpg");
  background-repeat: repeat;
}
.gold {
  background-image: radial-gradient(
    circle 331px at 1.4% 52.9%,
    rgba(255, 236, 2, 1) 0%,
    rgba(255, 223, 2, 1) 33.6%,
    rgba(255, 187, 29, 1) 61%,
    rgba(255, 175, 7, 1) 100.7%
  );
}
.blue {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.downLoadButton {
  box-shadow: inset 2px 2px 44px 0px #9fb4f2;
  background-color: #7892c2;
  border-radius: 4px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Georgia;
  font-size: 19px;
  padding: 19px 53px;
  text-decoration: none;
  text-shadow: -4px 1px 14px #283966;
}
.downLoadButton:hover {
  background-color: #476e9e;
}
.downLoadButton:active {
  position: relative;
  top: 1px;
}

.card {
  --grad: red, blue;
  padding: 2.5rem;
  background-image: linear-gradient(to bottom left, #e0e4e5, #f2f6f9);
  border-radius: 2rem;
  gap: 1.5rem;
  display: grid;
  grid-template: "title icon" "content content" "bar bar" / 1fr auto;
  font-family: system-ui, sans-serif;
  color: #444447;
  box-shadow: inset -2px 2px hsl(0 0 100% / 1),
    -20px 20px 40px hsl(0 0 0 / 0.25);

  .title {
    font-size: 1.5rem;
    grid-area: title;
    align-self: end;
    text-transform: uppercase;
    font-weight: 500;
    word-break: break-all;
  }
  .icon {
    grid-area: icon;
    font-size: 3rem;

    > i {
      color: transparent;
      background: linear-gradient(to right, var(--grad));
      background-clip: text;
    }
  }
  .content {
    grid-area: content;
    & > *:first-child {
      margin-top: 0rem;
    }
    & > *:last-child {
      margin-bottom: 0rem;
    }
  }
  &::after {
    content: "";
    grid-area: bar;
    height: 2px;
    background-image: linear-gradient(90deg, var(--grad));
    /*     margin-inline: -1.5rem; */
  }
}
.Card {
  margin-inline: 2px;
}
body {
  background: #d0dbe1;
  padding: 0.05rem;
  padding-left: 0.5rem;
}

.grid-container {
  width: min(75rem, 100%);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  gap: 1rem;
}
.card {
  --grad: red, blue;
  padding: 2.5rem;
  background-image: linear-gradient(to bottom left, #e0e4e5, #f2f6f9);
  border-radius: 2rem;
  gap: 1.5rem;
  display: grid;
  grid-template: "title icon" "content content" "bar bar" / 1fr auto;
  font-family: system-ui, sans-serif;
  color: #444447;
  box-shadow: inset -2px 2px hsl(0 0 100% / 1),
    -20px 20px 40px hsl(0 0 0 / 0.25);

  .title {
    font-size: 1.5rem;
    grid-area: title;
    align-self: end;
    text-transform: uppercase;
    font-weight: 500;
    word-break: break-all;
  }
  .icon {
    grid-area: icon;
    font-size: 3rem;

    > i {
      color: transparent;
      background: linear-gradient(to right, var(--grad));
      background-clip: text;
    }
  }
  .content {
    grid-area: content;
    & > *:first-child {
      margin-top: 0rem;
    }
    & > *:last-child {
      margin-bottom: 0rem;
    }
  }
  &::after {
    content: "";
    grid-area: bar;
    height: 2px;
    background-image: linear-gradient(90deg, var(--grad));
    /*     margin-inline: -1.5rem; */
  }
}
.text-2xl {
  text-shadow: horizontal-offset vertical-offset blur-radius color;
}
.headlined {
  text-shadow: #000000 1px 1px 0, -2px 1px 12px rgba(102, 255, 208, 0.21);
  color: #fff9f9;
}
.bagshaw {
  background-image: url("/4k-seamless-silver-perforated-stainless-steel-metal-texture_499.webp");
  background-size: 122px;
  background-repeat: repeat;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.servefast {
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #29323c,
    #485563
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #29323c,
    #485563
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.tables {
  background-image: url("/hotel-wallpaper-black.png");
  background-size: 22%;
  background-repeat: repeat;
}
.fineLeather {
  background-image: url("/hotel-wallpaper-black.png");
  background-size: 22%;
  background-repeat: repeat;
}
.accordianStyles {
  background-color: #6b696d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23211f24' fill-opacity='1'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.radd {
  padding-left: 12px;
  padding-right: 2px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 1px;
  margin-bottom: 1px;
  background: #200122; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #6f0000,
    #200122
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #6f0000,
    #200122
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: inset 1px 2px 124px rgb(32, 32, 32);
}
.blockRock {
  background-color: #0d5819;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239bb481' fill-opacity='0.74'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}
.fitzofdetention {
  background-color: #0d1a0a;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='16' viewBox='0 0 84 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM30 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM10 0h2v16h-2V0zm6 0h4v16h-4V0zM2 0h4v16H2V0zm50 0h2v16h-2V0zM38 0h2v16h-2V0zm28 0h2v16h-2V0zm-8 0h6v16h-6V0zM42 0h6v16h-6V0z' fill='%236ea2db' fill-opacity='0.37' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.bg-stripes {
  background-image: url("/Rose-Gold-Brushed-Stainless-Steel-Metal-Seamless-Texture_502.webp");
  background-repeat: repeat;
}

.navbara {
  float: left; /* Arrange links horizontally */
  display: block; /* Make links block-level for padding */
  color: #f2f2f2; /* Light text color */
  text-align: center; /* Center text */
  padding: 14px 16px; /* Padding around text */
  text-decoration: none; /* Remove underline */
  font-size: 17px;
}
@keyframes pulse {
  0% {
    transform: scale(1); /* Starting size */
  }
  50% {
    transform: scale(1.1); /* Slightly enlarged at the midpoint */
  }
  100% {
    transform: scale(1); /* Returns to original size */
  }
}

.pulse-element {
  animation: pulse 2s infinite ease-in-out; /* Apply the animation */
}
